$primary-blue: #2e53fc;
$secondary-blue: #199aff;
$light-blue: #63e2fd;
$light-blue-dark: #59cbe4;
$purple: #a23ef7;
$purple-light: #d19ffb;
$gray: #b3bbc2;
$charcoal: #2D3748;
$charcoal-light: #2e53fc;
$charcoal-dark: #1A202C;