@import "../themes/editor-theme.scss";
@import "../partials/variables";
.bg-charcoal-light {
    background-color: $charcoal-light;
}

.bg-charcoal-dark {
    background-color: $charcoal-dark;
}

.bg-charcoal {
    background-color: $charcoal;
}

.bg-primary-blue {
    background-color: $primary-blue;
}

.bg-secondary-blue {
    background-color: $secondary-blue;
}

.bg-light-blue {
    background-color: $light-blue;
}

.bg-light-blue-dark {
    background-color: $light-blue-dark;
}

.bg-purple {
    background-color: $purple;
}

.bg-gray {
    background-color: $gray;
}

.text-gray {
    color: $gray;
}

.text-charcoal {
    color: $charcoal;
}

.text-light-blue {
    color: $light-blue;
}

.text-light-blue-dark {
    color: $light-blue-dark;
}

.text-primary-blue {
    color: $primary-blue;
}

.text-secondary-blue {
    color: $secondary-blue;
}

.border-light-blue {
    border-color: $light-blue;
}

.border-light-blue-dark {
    border-color: $light-blue-dark;
}

.border-light-blue {
    border-color: $gray;
}

.border-primary-blue {
    border-color: $primary-blue;
}

.border-secondary-blue {
    border-color: $secondary-blue;
}

.ql-container,
.ql-toolbar {
    background-color: $charcoal !important;
    color: $gray;
    border-color: $charcoal-dark !important;
}

.ql-toolbar {
    background-color: $charcoal-dark !important;
}

.ql-stroke {
    stroke: $gray !important;
}

.ql-fill {
    fill: $gray !important;
}

.ql-picker-label {
    color: $gray !important;
}

.CodeMirror {
    width: 100% !important;
    height: 100% !important;
    padding-left: 0 !important;
    font-size: 14px !important;
}